#two {
  background-color: black;
}
#two > div {
  height: 200px;
}
#two > main {
  margin: auto;
  background-color: lightgrey;
  min-height: 200px;
  border-radius: 5px;
  padding: 20px;
}
#two > main > * {
  text-align: center;
}
#two #userInput {
  border-radius: 5px;
  padding: 6px;
  border: 0.8px;
  margin: auto;
}
mark {
  padding: 0;
  background-color: yellow;
  margin: 0;
}
/*
div #result{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
*/
.cards_line {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  /*
    margin: 10px;
    width: 40%;
    padding: 10px;
    background-color: white;
    */
}
.cards_line > section {
  display: inline-block;
  padding: 2.5px;
  width: 200px;
}
div.card {
  padding: 10px;
}
#result > section > * {
  display: block;
  text-align: center;
}
label {
  width: auto;
  height: auto;
}
